#calendars-index-page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}
#calendars-index-left-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fc-view-harness{
    background-color: #ffffff;
}
